body,
h1 {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
    justify-content: space-between;
}

.navItem {
    border: thin rgb(95, 95, 95);
    border-style: none solid none solid;
    font-size: 20pt;
    color: white;
    padding: 0px 10px;
}

nav button {
    font-family: inherit;
    background-color: rgb(22, 22, 22);
    border: thin rgb(95, 95, 95);
    border-style: none solid none solid;
    font-size: 20pt;
    color: white;
    padding: 0px 10px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(22, 22, 22);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(73, 73, 73);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


footer {

    bottom: 0px;
    background-color: rgb(33, 32, 41);
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerTech{
    padding: 20px 0px;
    display: flex;
}

.footerTech img{
    filter: saturate(0%);
}

.footerTech img:hover{
    filter: none;
}

#ml5Foot{
    margin: 40px 40px;
}

#p5Foot{
    margin: 40px 40px;
    height: 100px;
}

.footerAbout{
    text-decoration: none;
    font-style: normal;
}

.footerAbout a{
    color: rgb(255, 4, 4);
}
